#notice= notice

- content_for :page_heading do
  .large-heading= @victim.name

.demerit-target.fastclick
  .target-image{ style: "background-image: url('/harvey-moustache.jpg');" }
  .target-overlay
    = image_tag 'down-arrow.svg'
.footer
  .demerit-count-heading
    = image_tag 'down-circle.svg', height: 16, width: 16
    :plain
      de<strong>MERIT Count:</strong>
  .demerit-count
    234
