.demerit-target {
  border-radius: 100%;
  border: solid 20px rgba(255,255,255,.4);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
}

.target-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  cursor: pointer;
  background-size: contain;
  border-radius: 100%;
  @include no-touching();

  > img {
    opacity: 0;
    @include single-transition(all, $speed:300ms, $ease:ease-out);
    @include vendor-prefix(transition-delay, 75ms);
    @include no-touching();
  }

  &:hover {
    background: rgba($secondary-color, .5);
    > img {
      opacity: .5;
    }
  }

  &:active {
    opacity: .85;
    background: rgba($secondary-color, .8);
  }
}

.target-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-row {
  padding-top: 15px;
}

.demerit-target {
  @include demeritSize(160px);

  @media #{$screen-query} and #{$tiny-width-query} and #{$tiny-height-query} {
    @include demeritSize(240px);
  }
  @media #{$screen-query} and #{$tiny-width-query} and #{$small-height-query} {
    @include demeritSize(300px);
  }
  @media #{$screen-query} and #{$small-width-query} and #{$medium-height-query} {
    @include demeritSize(500px);
  }
  @media #{$screen-query} and #{$medium-width-query} and #{$large-height-query} {
    @include demeritSize(700px);
  }
}



.footer {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  padding: 0;
}

.demerit-count-heading {
  text-align: center;
  margin: 0 auto;
}

.demerit-count {
  text-align: center;
  overflow: hidden;
  @include demeritCountSize(40px);

  @media #{$screen-query} and #{$tiny-width-query} and #{$tiny-height-query} {
    @include demeritCountSize(60px);
  }
  @media #{$screen-query} and #{$tiny-width-query} and #{$small-height-query} {
    @include demeritCountSize(80px);
  }
  @media #{$screen-query} and #{$small-width-query} and #{$medium-height-query} {
    @include demeritCountSize(100px);
  }
  @media #{$screen-query} and #{$medium-width-query} and #{$large-height-query} {
    @include demeritCountSize(120px);
  }
}

.large-heading {
  font-size: 30px;
  line-height: 36px;
  color: rgba(#fff, .95);
}
