$base-font-size: 100% !default;
$em-base: 16 !default;
$experimental: true; // shows browser prefixes in ZURB

// Various global styles
// Global Styles
// --------------------------------------------------
$default-float: left;
$body-bg: #00aeef;
$body-font-color: #fff;
$body-font-family: 'Open Sans', sans-serif;
$body-font-weight: 300;

// Colors
// --------------------------------------------------
$primary-color: #fff;
$secondary-color: #ff5110;


$header-font-family: 'Open Sans', sans-serif;
$header-font-color: #fff;
$header-font-weight: 600;
$subheader-font-weight: 300;
$paragraph-font-weight: 300;
$code-font-weight: 600;
$microformat-fullname-font-weight: 600;
$microformat-summary-font-weight: 600;
$microformat-abbr-font-weight: 600;
$form-label-font-weight: 600;
$legend-font-weight: 600;
$input-error-message-font-weight: 600;
$button-font-weight: 600;
$alert-font-weight: 600;

$label-font-weight: 600;

$pagination-link-current-font-weight: 600;

$side-nav-font-weight: 600;
$sub-nav-font-weight: 300;
$sub-nav-active-font-weight: 600;
$table-head-font-weight: 600;
$has-tip-font-weight: 600;
$tooltip-font-weight: 600;
$tooltip-close-font-weight: 300;
$topbar-dropdown-label-font-weight: 600;


$table-bg: transparent;
$table-even-row-bg: rgba( #fff, .25 );
$table-head-bg: rgba( #fff, .35 );
$table-row-font-color: #fff;
$table-head-font-color: #fff;


// Media Queries
// --------------------------------------------------
$tiny-width-screen-size: emCalc(320);
$small-width-screen-size: emCalc(768);
$medium-width-screen-size: emCalc(960);
$large-width-screen-size: emCalc(1180);

$tiny-height-screen-size: emCalc(320);
$short-height-screen-size: emCalc(480);
$avg-height-screen-size: emCalc(768);
$tall-height-screen-size: emCalc(960);

$screen-query:       "only screen";
$tiny-width-query:   "(min-width: #{$tiny-width-screen-size})";
$small-width-query:  "(min-width: #{$small-width-screen-size})";
$medium-width-query: "(min-width: #{$medium-width-screen-size})";
$large-width-query:  "(min-width: #{$large-width-screen-size})";

$landscape-query:    "(orientation: landscape)";
$portrait-query:     "(orientation: portrait)";

$tiny-height-query:  "(min-height:"#{$tiny-height-screen-size}")";
$small-height-query: "(min-height:"#{$short-height-screen-size}")";
$medium-height-query:   "(min-height:"#{$avg-height-screen-size}")";
$large-height-query:  "(min-height:"#{$tall-height-screen-size}")";





// Forms
// --------------------------------------------------

$input-bg-color:           rgba( #fff, .25 );
$input-focus-bg-color:     rgba( #fff, .5 );
$input-border-color:       rgba( #fff, .5 );
$input-focus-border-color: rgba( #fff, .85);
$input-font-size: emCalc(18);

$form-label-pointer: pointer;
$form-label-font-size: emCalc(14);
$form-label-font-weight: 500;
$form-label-font-color: lighten(#000, 30%);
$form-label-bottom-margin: emCalc(3);
$input-font-family: inherit;
$input-font-color: rgba(0,0,0,0.75);




$topbar-bg: #73d3f6;
$topbar-dropdown-bg: #40c2f3;




/* Style the top bar dropdown elements */

$topbar-dropdown-link-color: #fff;

/* Set the link colors and styles for top-level nav */
$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-weight: bold;
$topbar-link-font-size: emCalc(13);

$topbar-link-hover-lightness: -30%; /* Darken by 30% */
$topbar-link-bg-hover: darken($topbar-bg, 3%);
$topbar-link-bg-active: darken($topbar-bg, 3%);

$topbar-dropdown-label-color: #555;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: emCalc(10);

/* Top menu icon styles */
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: emCalc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #fff;
$topbar-menu-icon-color: #fff;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

/* Transitions and breakpoint styles */
$topbar-transition-speed: 300ms;
$topbar-breakpoint: emCalc(940); /* Change to 9999px for always mobile layout */
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

/* Divider Styles */
$topbar-divider-border-bottom: solid 1px lighten($topbar-bg, 10%);
$topbar-divider-border-top: solid 1px darken($topbar-bg, 10%);
