%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{ href: '/' }
          :plain
            <span class="weight-300">de</span>MERIT<span class="weight-300">s</span>

    %li.toggle-topbar.menu-icon
      %a{ href: '#' }
        %span

  %section.top-bar-section
    %ul.right
      %li.divider.hide-for-small
      %li
        %a{ href: '/' }
          Search Targets
      %li.divider
      %li
        = link_to t('victim.new'), new_victim_path()
      %li.divider
      %li
        %a{ href: '/' }
          My Targets
